**/bin/
**/obj/
.vs/*.*
/.vs/cartservice/FileContentIndex/55aa4599-e98c-458d-bae0-cf58f1149afe.vsidx
/.vs/cartservice/FileContentIndex/read.lock
/.vs/ProjectEvaluation/cartservice.metadata.v2
/.vs/ProjectEvaluation/cartservice.projects.v2
/.vs/cartservice/FileContentIndex/75ebf297-1bba-462a-bb04-44c4f19860f5.vsidx
/.vs/cartservice/FileContentIndex/18819ae0-9d1e-42e3-a66d-4560c012876b.vsidx
/.vs/cartservice/FileContentIndex/fde9c01d-8aca-4173-9f02-7ece92bd0688.vsidx
/.vs/cartservice/v17/.suo
/.vs/cartservice/FileContentIndex/24683c2e-83ad-45da-80f9-61d97ef19788.vsidx
